<div class="flex space-x-6">
<!-- Sharingbutton Facebook -->
<a class="text-gray-400 hover:text-gray-500" href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Share on Facebook" target="_blank" rel="noopener" aria-label="">
  <i class="fa-brands fa-facebook"></i>
</a>

<!-- Sharingbutton Twitter -->
<a class="text-gray-400 hover:text-gray-500" href="https://twitter.com/intent/tweet/?text={{ page.title }}&amp;url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Share on Twitter" target="_blank" rel="noopener" aria-label="">
  <i class="fa-brands fa-twitter"></i>
</a>

<!-- Sharingbutton E-Mail -->
<a class="text-gray-400 hover:text-gray-500" href="mailto:?subject={{ page.title }}&body=You can read more at this site%2C%0A{{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Share via E-Mail" target="_self" rel="noopener" aria-label="">
  <i class="fa fa-envelope"></i>
</a>

<!-- Sharingbutton Pinterest -->
<a class="text-gray-400 hover:text-gray-500" href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}{{ page.url }}&amp;description={{ page.title }}" title="Share on Pinterest" target="_blank" rel="noopener" aria-label="">
  <i class="fa-brands fa-pinterest"></i>
</a>

<!-- Sharingbutton WhatsApp -->
<a class="text-gray-400 hover:text-gray-500" href="whatsapp://send?text={{ page.title }}%20{{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Share via WhatsApp" target="_blank" rel="noopener" aria-label="">
  <i class="fa-brands fa-whatsapp"></i>
</a>

<!-- Sharingbutton Telegram -->
<a class="text-gray-400 hover:text-gray-500" href="https://telegram.me/share/url?text={{ page.title }}&amp;url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Share via Telegram" target="_blank" rel="noopener" aria-label="">
  <i class="fa-brands fa-telegram"></i>
</a>
</div>
