---
layout: page
---

<div>
  <div class="block rounded-lg shadow-lg bg-white mb-4">
      <div class="flex flex-wrap items-center">
        <div class="grow-0 shrink-0 basis-auto w-full">
          <div class="px-6 py-12 md:px-12">
            <h2 class="text-xl font-bold font-roboto uppercase mb-6">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a>
            </h2>
            <div class="text-gray-400 mb-2 text-sm">
              {{ page.date | date: "%B %e, %Y" }}
            </div>
            <div class="pb-2 content-pb-1rem">
              {{ content | markdownify }}
            </div>
            <div class="text-gray-400 mb-2 text-sm">
              <p>Share:</p>
              {% include share-buttons.html %}
            </div>
        </div>
      </div>
  </div>
  <br>
</div>
