---
title: {{ page.title }}
layout: default
---

    <!-- breadcrumb -->
    <div class="container py-4 flex items-center gap-3">
        <a href="{{ site.baseurl }}/index.html" class="text-primary text-base">
            <i class="fa-solid fa-house"></i>
        </a>
        <span class="text-sm text-gray-400">
            <i class="fa-solid fa-chevron-right"></i>
        </span>
        <p class="text-gray-600 font-medium">Product</p>
    </div>
    <!-- ./breadcrumb -->

    <!-- product-detail -->
    <div class="container grid mobile-grid grid-cols-2 gap-6">
        <div>
            <img src="{{ page.photos[0] }}" alt="" class="w-10/12 mobile-full">
            <div class="grid grid-cols-5 gap-4 mt-4">
                {% for photo in page.photos %}
                <a href="{{ photo }}" class="glightbox">
                  <img src="{{ photo }}" alt="" class="w-full cursor-pointer border">
                </a>
                {% endfor %}
            </div>
        </div>

        <div>
            <h2 class="text-3xl font-medium uppercase mb-2">{{ page.title }}</h2>
            {% if page.average_review %}
            <div class="flex items-center mb-4">
              <div class="flex gap-1 text-sm text-yellow-400">
                {% assign stars = page.average_review %}
                {% for i in (1..stars) %}
                  <span><i class="fa-solid fa-star"></i></span>
                {% endfor %}
              </div>
              <div class="text-xs text-gray-500 ml-3">({{ page.reviews.length }})</div>
            </div>
            {% endif %}
            <div class="space-y-2">
                <p class="text-gray-800 font-semibold space-x-2">
                    <span>Availability: </span>
                    {% if page.stock == "In Stock" %}
                    <span class="text-green-600">In Stock</span>
                    {% else %}
                    <span class="text-red-600">Out of Stock</span>
                    {% endif %}
                </p>
                <p class="space-x-2">
                    <span class="text-gray-800 font-semibold">Category: </span>
                    <span class="text-gray-600">{{ page.category }}</span>
                </p>
                <p class="space-x-2">
                    <span class="text-gray-800 font-semibold">Store: </span>
                    {% assign fetch_store = site.stores | where:"title", page.store | first %}
                    <span class="text-gray-600"><a href="{{ fetch_store.url }}">{{ page.store }}</a></span>
                </p>
                <p class="space-x-2">
                    <span class="text-gray-800 font-semibold">SKU: </span>
                    <span class="text-gray-600">{{ page.sku }}</span>
                </p>
            </div>
            <div class="flex items-baseline mb-1 space-x-2 font-roboto mt-4">
                {% if page.sale_price == page.price %}
                <p class="text-2xl text-primary font-semibold">{{ page.price }}</p>
                {% else %}
                <p class="text-2xl text-primary font-semibold">{{ page.sale_price }}</p>
                <p class="text-base text-gray-400 line-through">{{ page.price }}</p>
                {% endif %}
            </div>

            <p class="mt-4 text-gray-600">{{ page.summary }}</p>

            <div class="pt-4">
                <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Color</h3>
                <div class="flex items-center gap-2">
                    {% for color in page.colors %}
                      {% for pair in color %}
                      <div class="color-selector">
                        <input type="radio" name="color" id="{{ pair[0] }}" class="hidden">
                        <label for="{{ pair[0] }}"
                            class="border border-primary rounded-sm h-6 w-6  cursor-pointer shadow-sm block"
                            style="background-color: {{ pair[1] }};" title="{{ pair[0] }}"></label>
                      </div>
                      {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div class="mt-6 flex gap-3 border-b border-gray-200 pb-5 pt-5">
                <a href="{{ fetch_store.url }}"
                    class="bg-primary border border-primary text-white px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:bg-transparent hover:text-primary transition">
                    <i class="fa-solid fa-bag-shopping"></i> Visit Showroom
                </a>
            </div>

            <div class="flex gap-3 mt-4">
                <a href="#"
                    class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="#"
                    class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="#"
                    class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- ./product-detail -->

    <!-- description -->
    <div class="container pb-16 mt-12">
        <h3 class="border-b border-gray-200 font-roboto text-gray-800 pb-3 font-medium">Product details</h3>
        <div class="w-3/5 mobile-full">
          <ul class="mb-5 flex list-none flex-col flex-wrap border-b-0 pl-0 md:flex-row" role="tablist" data-te-nav-ref>
            <li role="presentation" class="flex-auto text-left">
              <a href="#tabs-description01" class="font-roboto my-2 block border-x-0 border-t-0 border-b-2 border-transparent pt-4 pb-3.5 font-medium leading-tight text-neutral-500 hover:isolate hover:border-transparent focus:isolate focus:border-transparent data-[te-nav-active]:text-primary" data-te-toggle="pill" data-te-target="#tabs-description01" data-te-nav-active role="tab" aria-controls="tabs-description01" aria-selected="true">
                Description
              </a>
            </li>
           <li role="presentation" class="flex-auto text-left">
             <a href="#tabs-specs01" class="font-roboto focus:border-transparen my-2 block border-x-0 border-t-0 border-b-2 border-transparent pt-4 pb-3.5 font-medium leading-tight text-neutral-500 hover:isolate hover:border-transparent focus:isolate data-[te-nav-active]:text-primary" data-te-toggle="pill" data-te-target="#tabs-specs01" role="tab" aria-controls="tabs-specs01" aria-selected="false">
                 Specs
             </a>
           </li>
           <li role="presentation" class="flex-auto text-left">
             <a href="#tabs-faq01" class="font-roboto my-2 block border-x-0 border-t-0 border-b-2 border-transparent pt-4 pb-3.5 font-medium leading-tight text-neutral-500 hover:isolate hover:border-transparent focus:isolate focus:border-transparent data-[te-nav-active]:text-primary" data-te-toggle="pill" data-te-target="#tabs-faq01" role="tab" aria-controls="tabs-faq01" aria-selected="false">
               FAQ
             </a>
           </li>
           <li role="presentation" class="flex-auto text-left">
             <a href="#tabs-reviews01" class="font-roboto my-2 block border-x-0 border-t-0 border-b-2 border-transparent pt-4 pb-3.5 font-medium leading-tight text-neutral-500 hover:isolate hover:border-transparent focus:isolate focus:border-transparent data-[te-nav-active]:text-primary" data-te-toggle="pill" data-te-target="#tabs-reviews01" role="tab" aria-controls="tabs-reviews01" aria-selected="false">
               Reviews
             </a>
           </li>
        </ul>
       <div class="mb-6">
         <div class="hidden opacity-0 opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block" id="tabs-description01" role="tabpanel" aria-labelledby="tabs-description-tab01" data-te-tab-active>
           <div class="text-gray-600 desc-pb-12">
                {% assign description_split = content | split: "[start_description]" %}
                {% assign description_split2 = description_split[1] | split: "[end_description]" %}
                {{ description_split2[0] | markdownify | replace: "<p>&lt;/p&gt;</p>", "" }}
            </div>
         </div>
         <div class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block" id="tabs-specs01" role="tabpanel" aria-labelledby="tabs-specs-tab01">
           <div class="text-gray-600 desc-pb-12">
                {% assign specs_split = content | split: "[start_specs]" %}
                {% assign specs_split2 = specs_split[1] | split: "[end_specs]" %}
                {{ specs_split2[0] | markdownify | replace: "<p>&lt;/p&gt;</p>", "" }}
            </div>
         </div>
         <div class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block" id="tabs-faq01" role="tabpanel" aria-labelledby="tabs-faq-tab01">
           <div class="text-gray-600 desc-pb-12">
                {% assign faq_split = content | split: "[start_faq]" %}
                {% assign faq_split2 = faq_split[1] | split: "[end_faq]" %}
                {{ faq_split2[0] | markdownify | replace: "<p>&lt;/p&gt;</p>", "" }}
            </div>
         </div>
         <div class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block" id="tabs-reviews01" role="tabpanel" aria-labelledby="tabs-reviews-tab01">
           <div class="text-gray-600 desc-pb-12">
             {% for review in page.reviews %}
                <div class="mb-4">
                  <div class="text-gray-800 font-medium">{{ review.name }}</div>
                  <div class="text-sm text-gray-400">{{ review.date }}</div>
                  {% assign stars = review.stars %}
                  {% assign empty_stars = 5 - stars %}
                  <div class="flex gap-1 text-sm">
                    {% for i in (1..stars) %}
                      <span class="text-yellow-400"><i class="fa-solid fa-star"></i></span>
                    {% endfor %}
                    {% for i in (1..empty_stars) %}
                      <span class="text-gray-400"><i class="fa-solid fa-star"></i></span>
                    {% endfor %}
                  </div>
                  <div>{{ review.text }}</div>
                </div>
             {% endfor %}
           </div>
         </div>
        </div>
      </div>
    </div>
    <!-- ./description -->

    <!-- related product -->
    <div class="container pb-16">
        <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">More products from {{ page.store }}</h2>
        <div class="grid mobile-grid grid-cols-4 gap-6">
            {% for product in site.products %}
              {% if product.store == page.store %}
              <div class="bg-white shadow rounded overflow-hidden group relative pb-8">
                <div class="relative">
                    <img src="{{ product.photos[0] }}" alt="" class="w-full">
                    <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center 
                    justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                        <a href="{{ product.url }}"
                            class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition"
                            title="view product">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                </div>
                <div class="pt-4 pb-3 px-4">
                    <a href="{{ product.url }}">
                        <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">{{ product.title }}</h4>
                    </a>
                    <div class="flex items-baseline mb-1 space-x-2">
                      {% if product.sale_price == product.price %}
                      <p class="text-xl text-primary font-semibold">{{ product.price }}</p>
                      {% else %}
                      <p class="text-xl text-primary font-semibold">{{ product.sale_price }}</p>
                      <p class="text-base text-gray-400 line-through">{{ product.price }}</p>
                      {% endif %}
                    </div>
                    <div class="flex items-center" style="display:none">
                        <div class="flex gap-1 text-sm text-yellow-400">
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                        </div>
                        <div class="text-xs text-gray-500 ml-3">(150)</div>
                    </div>
                </div>
                <a href="{{ product.url }}"
                    class="absolute left-0 bottom-0 block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">View product</a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
    <!-- ./related product -->
